<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GeneratePassword</title>
</head>
<body>
<form th:method="POST">
    <label for="countPassword">Укажите количество паролей: </label>
    <input type="number" id="countPassword" name="countPassword" min="1" max="5" placeholder="min 1, max 5" required><br>

    <label for="countCharPassword">Укажите длину пароля: </label>
    <input type="number" id="countCharPassword" name="countCharPassword" min="8" max="16" placeholder="min 8, max 16" required><br>

    <button type="submit" formaction="/generatePassword">Сгенерировать пароль</button>
    <button type="submit" formaction="/history">Просмотреть историю паролей</button>
</form>
</body>
</html>